extends ../index
block content
  #archeeve
    #topcontainer
      img#logoimage(src="/assets/archeeve/logo.png")
      img#oplaward(src="/assets/archeeve/one-page-love-award-right.png")
      h1 THE MOST USEFUL APP TO ORGANISE YOUR BOOKMARKS
      #buttons
        button GET IT FOR MAC
        button GET IT FOR WINDOWS
      img#appimg(src="/assets/archeeve/app.png")
    #middlecontainer
      h1 FEATURES

      ul.row
        li.icomoon Searchable
        li
        li
          
