extends ../index
block content
  #rumble-labs
    #topbar
      p#nav ABOUT US&nbsp;&#x2F;&nbsp;PROJECTS&nbsp;&#x2F;&nbsp;BLOG   
      img#logo(src="../assets/rumble-labs/rumble-logo.svg")
      p#work-with-us-text Work with us &gt;
    #top-container
      h1 HELLO, WE'RE RUMBLE LABS
      p#experts-in-text Experts in
      p#app-dev-text App development, design, and strategy for the web, iOS, and Mac.
      #learn-more-button-wrapper
        button#learn-more-button LEARN MORE &gt;
    #video-container
      iframe#video-container-video(src="https://player.vimeo.com/video/119068482?title=0&byline=0&portrait=0")
    #about-us-container
      h2 ABOUT US
      h3 We work the Rumble way
      ul#about-us-row
        li.about-us-column
          img.about-us-image(src="../assets/rumble-labs/home-culture.jpg")
          h4 Great Culture
          p.about-us-description Collaborative, open and fun! Our culture maximises happiness to the benefit of productivity and creativity.
        li.about-us-column
          img.about-us-image(src="../assets/rumble-labs/home-process.jpg")
          h4 Proven Process
          p.about-us-description We practice Agile Design and Development, taking the time to understand requirements and deliver on them.
      ul#about-us-row
        li.about-us-column
          a.about-us-links Get to know us better
        li.about-us-column
          a.about-us-links See where we've applied this
    #services-container
      h2 SERVICES
      h3 Our valuable expertise lies in:
      ul.services-row
        li.services-column
          img.services-image(src="../assets/rumble-labs/simon-whiteboarding.jpg")
          h4 Product Strategy
          p.services-description By taking the time to understand your product from a business, technical and creative standpoint we develop strategies to fit the needs of each project.
        li.services-column
          img.services-image(src="../assets/rumble-labs/about-app-development.jpg")
          h4 Web App Development
          p.services-description We create highly functional applications for the web with modern technologies and open-source tools using an iteratative, agile methodology.
      ul.services-row
        li.services-column
          img.services-image(src="../assets/rumble-labs/niall-mac-app-planning-1.jpg")
          h4 iOS / Mac Development
          p.services-description We have experience building, designing and launching software to the App Store for Apple devices (iPhones, iPads, Macs etc), often with web components.
        li.services-column
          img.services-image(src="../assets/rumble-labs/about-responsive-design.jpg")
          h4 Responsive Web Design
          p.services-description At Rumble we design flexible, tailored front-ends that are optimised for all devices ensuring the best experience for every potential user scenario.
    hr
    #projects-container
      h3 Each of our projects involve the following:
      ul
        li
        li
      ul
        li
        li
          
      
    #contact-container
      h2 GET IN TOUCH
    #footer-container
