extends ../index
block content
  #rumble-labs
    #topbar
      img#logo(src="../assets/rumble-labs/rumble-logo.svg")
      #nav
        p
          span: a(href="#") ABOUT US
          span &nbsp;&#x2F;&nbsp;
          span: a(href="#") PROJECTS
          span &nbsp;&#x2F;&nbsp;
          span: a(href="#") BLOG
      p#work-with-us-text Work with us &gt;
    #topcontainer
      h1 HELLO, WE'RE RUMBLE LABS
      p Experts in
      p App development, design, and strategy for the web, iOS, and Mac.
      #learn-more-button-wrapper
        button#learn-more-button LEARN MORE &gt;
    #video
      img(src="../assets/rumble-labs/506218620.webp")
