extends ../index
block content
  #rumble-labs
    #topbar
      img#logo(src="../assets/rumble-labs/rumble-logo.svg")
      span#nav ABOUT US&nbsp;&#x2F;&nbsp;PROJECTS&nbsp;&#x2F;&nbsp;BLOG   
      span#work-with-us-text Work with us &gt;
    #top-container
      h1 HELLO, WE'RE RUMBLE LABS
      p#experts-in-text Experts in
      p#app-dev-text App development, design, and strategy for the web, iOS, and Mac.
      #learn-more-button-wrapper
        button#learn-more-button LEARN MORE &gt;
    #video-container
      iframe#video-container-video(src="https://player.vimeo.com/video/120046173?title=0&byline=0&portrait=0")
    #about-us-container
      h2 ABOUT US
      p#about-us-title We work the Rumble way
      ul
        li Great Culture
        li Proven Process
    #services-container
  
    #projects-container
      
    #contact-container
      
    #footer-container
