extends ../index
block content
  #rumble-labs
    #topcontainer
      img(src="../assets/rumble-labs/rumble-logo.svg")
      p
        span: a(href="#") ABOUT US
        span &nbsp;&#x2F;&nbsp;
        span: a(href="#") PROJECTS
        span &nbsp;&#x2F;&nbsp;
        span: a(href="#") BLOG
      p Work with us &gt;
