#archeeve {
  @font-face {
    font-family: "Bonveno";
    src: url(../assets/archeeve/BonvenoCF-Light-webfont.woff);
  }
  @font-face {
    font-family: "SourceSansPro";
    src: url(../assets/archeeve/sourcesanspro-regular-webfont.woff);
  }
  @teal-color: #69ded4;
  @stripe-color-1: rgba(29, 30, 35, 0.91);
  @stripe-color-2: rgba(28, 28, 32, 0.91);
  background: url("/assets/archeeve/background2.jpg");
  background-position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  #topcontainer {
    background-color: @stripe-color-1;
    overflow: auto;
    position: relative;
    padding-top: 200px;
    margin: 0 auto;
    min-height: 510px;
    max-height: 510px;
  }
  #oplaward {
    position: fixed;
    right: 10px;
    top: 100px;
    Z-index: 100;
  }
  #logo {
    position: fixed;
    width: 40px;
    left: 30px;
    top: 100px;
    Z-index: 100;
  }
  h1 {
    margin: 0 auto;
    padding: 100px 50px 50px;
    text-align: center;
    letter-spacing: 1.5px;
    color: white;
    font-family: Bonveno;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
  }
  p {
    text-align: center;
    color: gray;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: lighter;
  }
  #get-it-buttons {
    text-align: center;
    margin-top: -70px;
  }
  .get-it-button {
    display: inline-block;
    font-size: 12px;
    color: white;
    letter-spacing: 2px;
    border-width: 4px;
    margin: 50px 3px;
    padding: 15px 50px;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    background: none;
  }
  ul {
    padding: 0;
  }
  li {
    display: inline;
    text-align: center;
    padding: 0
  }
  #appimgcontainer {
    text-align: center;
  }
  #appimg {
    width: 800px;
    margin: -93px;
    transform: translateY(95px);
  }
  #appimg:hover {
    transform: translateY(20px)
  }
  #featuresheader {
    padding-top: 100px;
  }
  #featurescontainer {
    background-color: @stripe-color-2;
    padding-bottom: 25px;
    text-align: center;
    height: 803px;
  }
  #featurescontainer > .row > ul {
    padding-bottom: 20px;
  }
  #featurescontainer > .row > li {
    font-size: 15px;
    margin: 0 30px;
    font-family: Bonveno;
    color: white;
    display: inline-block;
    width: 150px;
    vertical-align: top;
  }
  .feature-header {
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
  }
  .feature-desc {
    font-size: 13px;
    color: gray;
    font-weight: lighter;
    letter-spacing: 1.5px;
    line-height: 26px;
  }
  #note {
    padding: 50px;
    text-align: center;
    color: gray;
  }
  #screenshotscontainer {
    background-color: @stripe-color-1;
    padding-top: -25px;
    padding-bottom: 75px;
  }
  #screenshotscontainer > .row > ul {
    padding-bottom: 20px;
    margin: 0 auto;
    display: inline;
  }
  .row-screenshots {
    text-align: center;
  }
  #row-screenshots-last {
    position: absolute;
    margin-left: 245px;
  }
  .screenshot {
    width: 200px;
    height: 156px;
  }
  #closingcontainer  {
    background-color: @stripe-color-2;
    padding-top: -25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
  }
  #transaction-text {
    color: white;
    font-size: 16px;
    margin-top: -20px;
  }
  .anchor {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid @teal-color;
  }
  #os-buttons {
    text-align: center;
  }
  .os-button {
    background-color: rgba(44, 44, 54, 0.9);
    border: none;
    width: 350px;
    height: 50px;
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(44, 44, 54, 0.9);
    margin: 50px 3px;
    font-family: SourceSansPro;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 15px 50px;
  }
  #mac-os-button {
    background-color: @teal-color;
    border-color: @teal-color;
    color: white;
  }
  #footercontainer {
    padding: 30px;
    background-color: @stripe-color-1;
    margin-top: -50px;
  }
}
