#archeeve {

  @font-face {
    font-family: "Bonveno";
    src: url(../assets/archeeve/BonvenoCF-Light-webfont.woff);
  }
  @font-face {
    font-family: "Icons";
    src: url(../assets/archeeve/icomoon.woff);
  }
  background: url("/assets/archeeve/background2.jpg");
  background-position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  #topcontainer {
    background-color: rgba(51, 52, 71, 0.75);
    overflow: hidden;
    position: relative;
  }
  #oplaward {
    position: fixed;
    right: 10px;
    top: 100px;
  }
  #logo {
    position: fixed;
    width: 40px;
    left: 30px;
    top: 100px;
  }
  h1 {
    margin: 0 auto;
    padding: 100px;
    text-align: center;
    color: white;
    font-family: Bonveno;
    font-weight: 100;
    font-size: 33px;
  }
  #firstheader {
    padding-top: 105px;
  }
  #buttons {
    text-align: center;
  }
  button {
    display: inline-block;
    color: white;
    border-width: 3px;
    margin: 50px;
    padding: 15px 50px;
    border-color: white;
    border-radius: 4px;
    background: none;
  }
  #appimg {
    margin: 0 auto;
    display: block;
    transform: translateY(100px);
  }
  #appimg:hover {
    transform: translateY(5px)
  }
  #middlecontainer {
    background-color: rgba(44, 44, 54, 0.9);
    padding-top: -100px;
  }
  .row > ul {
    padding-bottom: 20px;
    margin: 0 auto;
    height: 125px;

  }
  .row > li {
    font-size: 15px;
    margin: 0 50px;
    font-family: Bonveno;
    color: white;
    display: inline-block;
    width: 100px;
    text-align: center;
  }
  .desc {
    font-size: 12px;
    color: gray;
    height: 150px;
  }
}
