#rumble-labs {
  @yellow-color: rgba(247, 224, 83, 0.85);

  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: none;
  background-color: rgba(190, 185, 185, 0.78);
  background: url("/assets/rumble-labs/header-brogramming-niall-phil.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  a {
    text-decoration: none;
    color: white;
  }
  h1 {
    font-size: 40px;
    color: white;
    margin-top: 100px;
    text-align: center;
    font-family: sans-serif;
  }
  h2 {
    font-size: 18px;
    color: gray;
    margin-top: 100px;
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
  }
  #topbar {
    background-color: black;
    height: 100px;
    margin: 0 auto;
  }
  #nav {
    letter-spacing: 4px;
    font-family: helvetica;
    font-size: 13px;
    position: absolute;
    top: 110px;
    left: 300px;
    display: inline;
    color: white;
  }
  #logo {
    position: absolute;
    left: 30px;
    top: 110px;
  }
  #work-with-us-text {
    color: @yellow-color;
    font-size: 18px;
    font-family: serif;
    font-weight: 300;
    position: absolute;
    right: 50px;
    top: 100px;
  }
  #top-container {
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-color: rgba(161, 159, 159, 0.09);
    position: relative;

    min-height: 600px;
  }
  #experts-in-text {
    font-size: 20px;
    font-weight: 900;
    color: white;
  }
  #app-dev-text {
    font-family: georgia;
    font-size: 30px;
    margin: 0 150px 75px;
    color: white;
  }
  #learn-more-button-wrapper {
    text-align: center;
  }
  #learn-more-button {
    background: none;
    color: @yellow-color;
    border-color: @yellow-color;
    font-size: 15px;
    border-radius: 5px;
    letter-spacing: 3px;
    width: 200px;
    height: 60px;
  }
  #video-container {
    margin: 0 auto;
    text-align: center;
  }
  #video-container-video {
   margin: 0 50px;
   width: 800px;
   height: 449px;
   border: none;
  }
  #about-us-container {

  }
  #about-us-title {
    font-family: georgia;
    font-size: 22px;
    font-color: black;
    text-align: center;
  }
  #about-us-row {
    margin: 0 auto;
    text-align: center;
  }
  .about-us-column {
      width: 200px;
      display: inline-block;
  }
  .about-us-image {
    width: 150px;
  }

  #services-container {

  }
  #projects-container {

  }
  #contact-container {

  }
  #footer-container {

  }

}
